<%- include('partials/header.ejs', {pageTitle: pageTitle, cssFiles: [`/css/${color}.css`, `/css/${color}-index.css`]}) %>
<!--color Pages-->   
    <div class="container">
        <a class="f20" href="/<%= color %>/20"><span><%= color %> 20px</span></a>
        <a class="f30" href="/<%= color %>/30"><span><%= color %> 30px</span></a>
        <a class="f40" href="/<%= color %>/40"><span><%= color %> 40px</span></a>
    </div>
<%- include('partials/footer.ejs') %>