<%- include('partials/header.ejs', {pageTitle: pageTitle, cssFiles: [`/css/${color}.css`, `/css/button.css`, `/css/font${size}.css`]}) %>
<div class="container">
    <h1><%= color %> Pages</h1>
    <p>Font <%= size %> px</p>
    <button id="myButton">Click to make me <%= color %>!</button>
</div>
<%- include('partials/footer.ejs', {jsFiles: [`/js/${color}.js`]}) %>
<!--Example App-->